/* this is a comment in reg css */

// This comment syntax works in SASS/SCSS Files

// Layout Theme Variables

// colors
$maincolor: black;
$contrastcolor: white;

// fonts
$mainfont: 'Helvetica';

// Layout Theme Mixins
@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// Header styles
.Header {
  @include white-text-black-bg;
  font-family: $mainfont;
  display: flex;
  justify-content: flex-start;
  // also in SASS, you can nest your styles or your style rules
  a {
    @include black-text-white-bg;
    // &:hover {
    //   color: blue;
    // }
    h1 {
      margin: 10px;
      font-size: large;
    }
  }
}

// .Form {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   flex-direction: column;
//   min-height: 10rem;
//   max-width: 7rem;
//   margin: 5rem auto;
//   // input[type="submit"] {
//   //   justify-self: flex-start;
//   // }
// }

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type='submit']:hover {
        @include black-text-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

img {
  width: 300px;
  height: 300px;
  border-radius: 90px;
  object-fit: cover;
}
